---
import Layout from '../layouts/Layout.astro';
// import ProjectList from '../components/ProjectListViaMarkdown.astro';
import ProjectList from '../components/ProjectListViaJson.astro';
---

<html>
  <head>
    <!-- ... -->
  </head>
  <body>
    <Layout>
      <ProjectList />
    </Layout>
  </body>
</html>

