---
import { type CollectionEntry, getCollection } from 'astro:content';
import ProjectLayout from '../../layouts/ProjectLayout.astro';

// Where the fuck is the detail content: **File System** or JSON (Still needs to be done)

export async function getStaticPaths() {
	const projects = await getCollection('projects');
	return projects.map((project) => ({
		params: { slug: project.slug },
		props: project,
	}));
}
type Props = CollectionEntry<'projects'>;

const project = Astro.props;
const { Content } = await project.render();
---

<ProjectLayout {...project.data}>
	<h2>{project.data.title}</h2>
	<Content />
</ProjectLayout>
